body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    overflow-x: hidden;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #E1EDE6;
    box-sizing: border-box;
}

.logo {
    padding-left: 30px;
    margin-left: 20px;
}

.links {
    display: flex;
    justify-content: space-between;
}

.element {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 1.8rem;
    transition: color 0.3s ease;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
}

.element:hover a {
    color: #598D66;
}

.present {
    display: flex;
    justify-content: space-between;
    padding: 50px 5vw;
    box-sizing: border-box;
}

.other {
    width: 45%;
    padding-right: 30px;
}

.text {
    font-family: "Raleway";
    padding-top: 50px;
    margin-right: 20px;
    padding-right: 20px;
}

.text h1 {
    font-size: 4em;
}

.text p {
    font-size: 1.5rem;
}

.text button {
    font-size: 1.2rem;
    padding: 10px 20px;
}

.collor_text {
    color: #d4f3e1;
}

.galery {
    margin-top: 50px;
    padding-left: 20px;
    box-sizing: border-box;
}

.paintings {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 0 5vw;
}

.picture {
    width: 100%;
    background-color: #E1EDE6;
    padding: 20px;
    height: auto;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.picture img {
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.picture:hover img {
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

h1, p {
    font-family: "Raleway";
    font-weight: 500;
}

.price {
    font-family: "Raleway";
    font-size: 1.5rem;
    color: #598D66;
}

button {
    width: 100%;
    height: 65px;
    background-color: #E1EDE6;
    font-family: "Raleway";
    font-size: 1.2rem;
    color: #598D66;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #598D66;
    color: white;
    transform: scale(1.05);
}

.collection {
    width: 100%;
    height: 560px;
    background-image: url("./img/pic_background.png");
    background-size: 85% auto;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10vw;
}

.info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    color: white;
    width: 70%;
}

.new_collection {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.star {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.grandpa {
    color: white;
    font-size: 2.5rem;
    max-width: 600px;
    line-height: 1.4;
    text-align: left;
}

.new_collection p {
    width: 550px;
    height: 200px;
}

@media (max-width: 1920px) {
    .nav {
        padding: 35px 20px;
    }

    .other {
        width: 50%;
    }

    .text h1 {
        font-size: 3.5em;
    }

    .text p {
        font-size: 1.25rem;
    }

    .galery {
        margin-top: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .paintings {
        grid-template-columns: repeat(3, 1fr);
    }

    .collection {
        height: auto;
    }
}

@media (max-width: 1440px) {
    .nav {
        padding: 20px;
    }

    .other {
        width: 60%;
    }

    .paintings {
        grid-template-columns: repeat(2, 1fr);
    }

    .text h1 {
        font-size: 3em;
    }

    .text p {
        font-size: 1rem;
    }
}

@media (max-width: 1024px) {
    .paintings {
        grid-template-columns: 1fr;
    }

    .text h1 {
        font-size: 2.5em;
    }

    .text p {
        font-size: 1rem;
    }

    .collection {
        height: auto;
    }
}
